{% extends 'core/base.html' %} {% block content %}
{% load jalali_tags %}
<div class="col-12 col-md-10 rounded p-5 mx-auto bg-white">
    <a class="btn btn-primary" style="float: right;" href="{% url 'po_add' %}">+
        Create PO   
        </a>
    
    {% if pos %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">PO Number</th>
                <th scope="col">Project</th>
                <th scope="col">Created By</th>
                <th scope="col">PO Date</th>
                <th scope="col">Submited Date</th>
    
            </tr>
        </thead>
        <tbody>
            {% for po in pos %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td><a href="{{po.get_edit_url}}">{{po.number}}</a></td>
                <td>{{po.project}}</td>
                <td>
                    {{po.created_by.first_name}} {{po.created_by.last_name}} ({{po.created_by}})
                </td>
                <td>
                    {{po.date|to_jalali:'%Y/%m/%d'}}
                </td>
                <td>
                    {{po.created|to_jalali:'%Y/%m/%d'}}
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h1>There is no PO registered.</h1>
    {% endif %}    
</div>
{% endblock %}
{% block js %}
<script>
    $('table').DataTable(
        {
        "lengthMenu": [ 25, 50, 75, 100 ]
        }
    );
</script>
{% endblock %}
